.signup-container {
	background-image: url('../images/sign-up.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.signin-container {
	background-image: url('../images/sign-up.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

.home-page {
	height: 180vh;
}

.banner-image {
	background-image: url('../images/hello.png');
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	height: 25%;
}
